* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.header header {
    background: #4caf50;
    background: gold;
    align-items: center;
    text-align: center;
    width: 100%;
}

@media (max-width:900px) {
    html {
        max-width: 800px;
    }
}

@media (max-width:750px) {
    .leftcurtain, .rightcurtain {
        width: 100%;
        object-fit: contain;
        height: 75%;

    }
}


body {
    font-family: 'Arial', sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #ff1a1a, #ffb84d); /* Christmas red to gold */
    margin: 0;
    color: #4caf50;
}

.container {
    text-align: center;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    max-width: 300px;
   transform: translateX(25%);
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #4caf50; /* Golden text */
}

input {
    padding: 12px;
    font-size: 16px;
    margin: 10px 0;
    width: 100%;
    border: 2px solid #007f5f; /* Green border */
    border-radius: 8px;
    box-sizing: border-box;
    color: #007f5f; /* Green text */
}

input::placeholder {
    color: #85c88a; /* Lighter green for placeholder */
}

button {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: #e63946; /* Festive red */
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s;
}

button:hover {
    background: #e76f51; /* Lighter red when hovered */
    transform: scale(1.05);
}

#greeting {
    color: #85c88a; /* Festive green for the greeting */
    font-size: 2em;
    margin-top: 20px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-indent: 10px;
    min-height: 60vh;
    
}
